.community-container {
    .faq-title {
        font-weight: 700;
    }
    .emphasize {
        font-style: italic;
        font-weight: 600;
    }
    .qa-block {
        padding: 1.0rem 0 1.0rem 0;
    }
    .content {
        line-height: 45px;
    }
    .faq-title {
        font-weight: 700;
    }
    .qa-block {
        padding: 1.0rem 0 1.0rem 0;
    }
    .emphasize {
        font-style: italic;
        font-weight: 600;
    }
}
