.delivery-image {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: bottom-right;
    background-size: auto 100%;
    padding: 15rem 0;
    background-origin: padding-box;
}

video {
    max-height:200px;
}