$modal-slideshow-slide-animation: 'zoom';

.calendar-container {
    div:first-child {
        width: 100% !important;
    }
    // div:nth-child(2) {
    //     width: 100% !important;
    // }
}

// .calendar-container {
//     max-height: 450px;
// }