.profile-view-container {
    margin-right: 0;
    margin-left: 0;
    .place-images {
        min-height: 400px;
        margin-top: 30px;
        width: 100%;
    }
    
    .main-image {
        max-width: 100%;
        padding-right:0px;
        min-height: 90%;
    }
    
    .scroll-image {
        max-width: 100%;
    }
    
    .no-pad {
        padding-left: 0px;
        padding-right:0px;
    }
    
    .checkbox {
        border-radius: 30px;
        padding: 0 9px;
        float: right;
        margin: -7px 0px;
        i {
          width: 18px;
        }
    }
    .profile-section {
        padding: 0;
    }
    .place-section {
        display: inline-block;
        padding: 0;
        p {
            margin-top: 0;
        }
    }
    .checkbox-container {
        button {
            background: $primary-accent-color;
        }
    }
}