.profile-view-container {
    margin-right: 0;
    margin-left: 0;
    .place-images {
        .image-gallery-slide.img-gal {
          height: 300px;
        }
        margin-top:1.0rem;
      }

      .send-message {
          min-width: 100%;
      }
    
      .marg-top {
        margin-top: 1.0rem !important;
      }
    
    .main-image {
        max-width: 100%;
        padding-right:0px;
        min-height: 90%;
    }
    
    .scroll-image {
        max-width: 100%;
    }
    .school {
        font-size: 1.2rem;
    }
    .no-pad {
        padding-left: 0px;
        padding-right:0px;
    }
    .first-row {
        display: flex;
    }
    .header {
        display: inline;
    }
    
    .checkbox {
        border-radius: 30px;
        padding: 0 9px;
        float: right;
        margin: -7px 0px;
        i {
          width: 18px;
        }
    }
    .profile-section {
        padding: 0;
    }
    .place-section {
        display: inline-block;
        padding: 0;
        p {
            margin-top: 0;
        }
    }
    .checkbox-container {
        button {
            background: $primary-accent-color;
        }
    }
}