.fuse-container {

  .error {
    color: #c90b0e;
    margin: 5px 0;
  }
  table, th, td {
    border: 1px solid black;
  }
  .table-container {
    .grid-row {
      height: 30px;
      .grid-col {
        width: 30px;
        text-align: center;
      }
    }
  }
}