.connected-button-container{
  width: 100%;
  background-color: $link-hover ;
  padding: 0;
  box-shadow: $button-boxshadow-default;
  color: white;
  &:hover {
    background-color: $link-hover !important;
    box-shadow: $button-boxshadow-default !important;
  }
  &:focus {
    background-color: $link-hover !important;
  }
  &:active {
    box-shadow: $button-boxshadow-active !important;
  }
  .background-highlight {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }
  }
  .icon-container {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-container{
    padding-right: 10px;
  }
  .full-width {
    justify-content: center;
    .text-container {
      width: 100%;
    }
  }
  img {
    max-height: 45px;
    max-width: 100%;
    float: left;
  }
}