.faq-container {
    .content {
        line-height: 45px;
    }
    #faq-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        button {
            min-width: 65px !important;
        }
    }
    .faq-footer {
        @media #{$medium-and-down} {
            margin-bottom: 65px;
        }
    }
    .faq-title {
        font-weight: 700;
    }
    .qa-block {
        padding: 1.0rem 0 1.0rem 0;
    }
    .emphasize {
        font-style: italic;
        font-weight: 600;
    }
    @media #{$small-and-down} {
        // styles for small screens and down
        .tab-text {
            font-size: 0.8rem !important;
        }
    }
}