.image-carousel {
  .img-gal {
    height: 400px;
    width: 100%;
    display: block;
    background-color: black;
    .image-gallery-image {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
      }
    }
  }
  .image-gallery-bullets {
    transform: scale(0.75);
  }
  .image-carousel-delete-button {
    position: absolute;
    z-index: 5;
    right: 1.5vw;
    top: 1.5vw;
  }
}