.login-container {
  padding: 0 !important;
  .login-button {
    width: 100%;
    margin: 0px auto;
    background: #4f81e9;
    color: white;
    padding: 0px;
    border-radius: 0;
    font-size: 13px;
    border: none;
    height:100%;
  }
}
.pop-over-login-button {
  box-shadow: none !important;
  background-color: transparent !important;
  min-width: 40px !important;
  button {
    background-color: transparent !important;
    height: $nav-wrapper-height !important;
    .button-element {
      display: flex;
      align-items: center;
      margin-top: -39px;
      padding: 0 15px 0 15px;
      height: 100%;

      .img-holder {
        @extend .true-circle;
        height: 45px;
        width: 45px;
      }
      img {
        max-width: 110%;
      }
      span {
        padding-right: 10px;
      }
    }
    div {
      text-transform: none !important;
    }
    i {
      padding-right: 8px;
      height: 16px;
    }
  }
}