.login-container {
  padding: 0 !important;
  .login-button {
    width: 100%;
    margin: 0px auto;
    background: #4f81e9;
    color: white;
    padding: 0px;
    border-radius: 0;
    font-size: 13px;
    border: none;
    height:100%;
  }
}
.pop-over-login-button {
  box-shadow: none !important;
  background-color: transparent !important;
  min-width: 40px !important;
  button {
    background-color: transparent !important;
    height: $nav-wrapper-height !important;
    .button-element {
      display: flex;
      align-items: center;
      margin-top: -39px;
      padding: 0 0 0 15px;
      height: 100%;
      margin-right: 15px;
      border-radius: 5px;
      background-color: $primary-accent-color;
      color: white;
      box-shadow: $button-boxshadow-default;
      transition: box-shadow 300ms ease-in-out;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        box-shadow: $button-boxshadow-active;
      }

      .img-holder {
        @extend .true-circle;
        height: 45px;
        width: 45px;
      }
      img {
        max-width: 110%;
      }
      span {
        padding-right: 10px;
      }
    }
    div {
      text-transform: none !important;
    }
    i {
      width: 35px;
      height: 35px;
      padding-top: 10px;
      background: $primary-accent-color;
      font-weight: bold;
      border-radius: 50%;
    }
  }
}