$nav-wrapper-height: 65px;
.navbar-fixed {
  &.invis-toggle-true{
    margin-bottom: -65px;
    @media #{$small-and-down} {
      margin-bottom: -56px;
    }
  }
  .nav-wrapper {
    background-color: white;
    height: $nav-wrapper-height;
    ul li a {
      color: black;
    }
    .nav-login {
      float: right;
    }
    .border-nav {
      padding: 0 0.5rem 0 0.5rem;
    }
    .explore {
      display: inline-block;
      background-color: #E0CB38;
      border-radius: 5px;
      line-height: 2.8rem;
      a {
        color: white;
        border-bottom: none !important;
      }
    }
  }
  &.invisible {
    nav {
      background-color: transparent;
      ul li a {
        color: white;
        border-bottom: none !important;

      }
      .brand-logo {
        display: none;
      }
      span {
        color: white;
      }
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
      .button-collapse {
        .material-icons {
          color: white !important;
        }
        padding: 0.5rem;
      }
    }
    .side-nav {
      a {
        color: black !important;
      }
    }
  }
  &.visible {
    nav {
      background-color: white;
    }
    .button-collapse {
      padding: 0.5rem;
    }
  }
}