.place-container {
  .amenities-container {
    display: inline-block;
    margin-bottom: 0;
  }
  .tablet-and-up-detailed-desc, .tablet-and-up-recommendations, .tablet-and-up-general,
  .tablet-and-up-beds, .tablet-and-up-baths, .tablet-and-up-sleeps, .tablet-and-up-rooms 
   {
    display: block;
  }
  .mobile-detailed-desc, .recommendations-mobile, .mobile-general,
  .mobile-guest-beds, .mobile-guest-baths, .mobile-sleeps, .mobile-rooms {
    display: none;
  }
  .address-disclaimer {
    color: $label-grey;
    margin: 0;
    &:hover {
      color: $link-hover;
    }
  }
  .image-section-container {
    .img-header {
      width: 100%;
      .container-desc {
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        .click-text {
          font-weight: normal;
          font-size: 16px;
          &:hover {
            color: #333333;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media #{$small-and-down} {
    .tablet-and-up-detailed-desc, .tablet-and-up-recommendations, .tablet-and-up-general,
    .tablet-and-up-beds, .tablet-and-up-baths, .tablet-and-up-sleeps, .tablet-and-up-rooms {
      display: none;
    }
    .mobile-detailed-desc, .recommendations-mobile, .mobile-general,
    .mobile-guest-beds, .mobile-guest-baths, .mobile-sleeps, .mobile-rooms {
      display: block;
    }
  }
}