.browse-place-container {
  .profile-info {
    p {
      margin: 5px 0;
    }
  }
  .place-images {
    .image-gallery-slide.img-gal {
      height: 300px;
    }
  }
  .profile-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-image {
    @extend .true-circle;
    height: 150px;
    width: 150px;
    img {
      height: 150px !important;
      width: 150px !important;
    }
  }
}