.browse-place-container {
  padding-top: 25px;
  padding-bottom: 5px;
  .user-text {
    p {
      height: 42px;
    }
  }
  p {
    margin: 5px 0;
  }
  .profile-info {
    p {
      margin: 5px 0;
    }
  }
  .place-images {
    .image-gallery-slide.img-gal {
      height: 300px;
    }
  }
  .profile-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    @media #{$small-and-down} {
      padding: 0 0 0 10px;
    }
  }
  .profile-image {
    @extend .true-circle;
    width: 100%;
    height: 100%;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
  .marg-top {
    margin-top: 0px;
    margin-bottom:5px;
  }
  .no-pad {
    padding-left: 0px;
    padding-right: 0px;
  }
  .summary-container {
    height: 6.5rem;
    overflow-y: scroll;
  }
}