.profile-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  img {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.34);
    max-width: 100%;
    max-height: 250px;
  }
}