.send-message {
    width: 100%;
    padding: 0.75rem;
    .message-button {
      height: 45px;
    }
    .header {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        color: #00bcd4;
    }
  }