.testimonial-container {
    .grow { transition: all .2s ease-in-out; }
    .grow:hover { transform: scale(1.7); }
    .test-img {
        max-height: 350px;
        width:100%;
    }
    .pad-top {
        padding-top: 1.0rem;
    }
    header {
        height: 100vh;
        background-image: url('https://s3.us-east-2.amazonaws.com/com-swap-prod/static/AdobeStock_127851352s.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 120%;
        padding: 0 0;
        background-origin: padding-box;
    }
    @media #{$medium-and-down} {
        
    }
    @media #{$small-and-down} {
       .test-img{
           width:100%;
           min-height: 400px;
       } 
    }
}