.testimonial-container {
    .grow { transition: all .2s ease-in-out; }
    .test-img {
        width:100%;
    }
    .pad-top {
        padding-top: 1.0rem;
    }
    .image-container {
        overflow: hidden;
        height: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
    header {
        height: 5vh;
        //background-image: url('https://s3.us-east-2.amazonaws.com/com-swap-prod/static/AdobeStock_127851352s.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 120%;
        padding: 0 0;
        background-origin: padding-box;
    }
    @media #{$medium-and-down} {
        .image-container {
            height: 46vw;
        }
    }
    @media #{$small-and-down} {
        .image-container {
            height: 106vw;
        }
    }
}