.testimonial-container {
    .grow { transition: all .2s ease-in-out; }
    .grow:hover { transform: scale(1.7); }
    .test-img {
        max-height: 350px;
        width:100%;
    }
    .pad-top {
        padding-top: 75px;
    }
    @media #{$medium-and-down} {
        
    }
    @media #{$small-and-down} {
       .test-img{
           width:100%;
           min-height: 400px;
       } 
    }
}