.trip-container {
  margin-bottom: 15px;
  .centering-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .place-title {
    h3 {
      font-size: 1.64rem;
    }
  }
  .trip-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .pending-swap-text {
    font-weight: bold;
  }
  h4 {
    font-size: 1.64rem;
  }
  h5 {
    font-size: 1rem;
  }
  .trip-image {
    @extend .true-circle;
    width: 100%;
    height: inherit;
    max-height: 150px;
    max-width: 150px;
    margin: 0;
    img {
      max-height: 150px !important;
      max-width: 150px !important;
    }
  }
}