.trip-container {
  margin-bottom: 15px;
  position: relative;
  .test-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333333;
    opacity: 0.3;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    padding-top: 250px;
    font-size: 32px;
    z-index: 5;
  }
  .centering-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .place-title {
    h3 {
      font-size: 1.64rem;
    }
  }
  .trip-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .pending-swap-text {
    font-weight: bold;
  }
  h4 {
    font-size: 1.64rem;
  }
  h5 {
    font-size: 1rem;
  }
  .trip-image {
    @extend .true-circle;
    width: 100%;
    height: inherit;
    max-height: 150px;
    max-width: 150px;
    margin: 0;
    img {
      max-height: 150px !important;
      max-width: 150px !important;
    }
  }
}